In [1]:
arr = [] # declares a list of length 0

In [2]:
print(len(arr))

0

In [3]:
# you can add items to the list using append
arr.append(1) # adds item to end of list

In [4]:
arr

[1]

In [5]:
# you can append anything
arr.append('yuvraj')
arr.append(7.090)
arr.append([1,2]) # you can even append another list

In [6]:
arr

[1, 'yuvraj', 7.09, [1, 2]]

In [7]:
# arrays are 0 indexed, first element is at position 0
arr[0] # gives first element

1

In [8]:
arr[-1] # gives last element

[1, 2]

In [9]:
arr[1] # second element

'yuvraj'

In [10]:
arr[-3] # gives third element from last

'yuvraj'

In [11]:
# you can get multiple elements from array using slicing
arr[0:3] # will give 0,1,2

[1, 'yuvraj', 7.09]

In [12]:
arr[1:4] # will give position 1,2,3

['yuvraj', 7.09, [1, 2]]

In [13]:
# python supports good shortcuts
arr[:4] # will give 0,1,2,3 if nothing given for start

[1, 'yuvraj', 7.09, [1, 2]]

In [14]:
arr[1:] # will give from 1 to end

['yuvraj', 7.09, [1, 2]]

In [16]:
# you can even use negative indices or positions
arr[-3:-1] # give -2, -1

['yuvraj', 7.09]

In [19]:
# lists are iterables, or things over which you can go one by one
numbers = [10,20,30,40,50,60,70,80,90,100]

In [20]:
# you can use a for loop to iterate/go over a list
for num in numbers:
    print(num)
    print("I am inside the foor loop")
print("I am outside the loop")

10
I am inside the foor loop
20
I am inside the foor loop
30
I am inside the foor loop
40
I am inside the foor loop
50
I am inside the foor loop
60
I am inside the foor loop
70
I am inside the foor loop
80
I am inside the foor loop
90
I am inside the foor loop
100
I am inside the foor loop
I am outside the loop

In [21]:
# range function gives us a list of numbers in given range
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
# you can even sprcify jump, if any
for val in range(0,20,5):
    print(val)

0
5
10
15

In [26]:
# you can jump negative as well
for val in range(100,0,-10):
    print(val)

100
90
80
70
60
50
40
30
20
10

In [29]:
# enumerate function allows you to get index and value both for a iterable
for i, num in enumerate(numbers):
    print(num)
    print(i)

10
0
20
1
30
2
40
3
50
4
60
5
70
6
80
7
90
8
100
9

In [30]:
# you can use for loop on strings
name = 'yuvraj'
for letter in name:
    print(letter)

y
u
v
r
a
j

In [31]:
# split function converts string to array by splitting
sentence = "My name is Yuvraj Jaiswal"
for word in sentence: # this will give letter by letter
    print(word)

M
y

n
a
m
e

i
s

Y
u
v
r
a
j

J
a
i
s
w
a
l

In [32]:
for word in sentence.split(" "):
    print(word)

My
name
is
Yuvraj
Jaiswal

In [33]:
sentence.split()

['My', 'name', 'is', 'Yuvraj', 'Jaiswal']

In [34]:
# split can be done on anything
random_string = "abc#def#ghi#pqr"
random_string.split("#")

['abc', 'def', 'ghi', 'pqr']

In [35]:
word = 'supercallifragilisticexpallidocious'

In [40]:
word.split("f")

['supercalli', 'ragilisticexpallidocious']

In [41]:
# you can have 2d or more d lists
matrix = [[1,2],[3,4]]

In [42]:
matrix

[[1, 2], [3, 4]]

In [43]:
matrix[0]

[1, 2]

In [44]:
matrix[1]

[3, 4]

In [48]:
# take an array of integers as input as calculate their sum

In [49]:
arr = input() # this always takes a string

1 2 3 4 5 6 7 8 9 10

In [58]:
for i in arr: # will print chars and spaces
    print(i)

1

2

3

4

5

6

7

8

9

1
0

In [59]:
# lstrip and rstrp -> remove extra spaces from left and right of a string

In [60]:
ls = "yuvraj                "

In [65]:
ls.rstrip()

'yuvraj'

In [62]:
rs = "               Jaiswal"

In [66]:
rs.lstrip()

'Jaiswal'

In [69]:
sent = " This is a normal sentence but with extra spaces at the end      "

In [70]:
sent.lstrip().rstrip()

'This is a normal sentence but with extra spaces at the end'

In [71]:
# map function
# take elements of array, one by one, pass them to a function and store results in an array

In [72]:
arr = list(range(0,10)) # list can also be generated using range

In [73]:
arr

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
def cube(num): # function to get sqaure of a numbr
    return num**3

In [75]:
square(4)

16

In [76]:
# find sqaures of all numbers of list
squares = []
for num in arr:
    squares.append(square(num))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
cubes = list(map(cube, arr))

In [84]:
# take array of numbers from user

In [85]:
numbers = input()

1 2 3 4 5 6 7 8 9 0

In [86]:
type(numbers) # string by default

str

In [87]:
numbers.split(" ")

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [88]:
arr = list(map(int, numbers.lstrip().rstrip().split())) #type cast to integer using map

In [89]:
arr

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [90]:
total = 0
for val in arr:
    total = total + val
print(total)

45

In [91]:
# dictionary is a key value pair

In [92]:
my_dict = {}

In [96]:
my_dict['name'] = 'Yuvraj' # name is called as key, yuvraj is value in that key

In [97]:
my_dict['name']

'Yuvraj'

In [98]:
my_dict

{'name': 'Yuvraj'}

In [99]:
d2 = {'a': 1, 'b': 2, 'c': 3}

In [100]:
d2

{'a': 1, 'b': 2, 'c': 3}

In [103]:
d2['b']

2

In [104]:
# value in a dictionary can be anything

In [105]:
d2['names'] = ['yuvraj','karan','akanksha']

In [106]:
d2['names']

['yuvraj', 'karan', 'akanksha']

In [107]:
d2['names'][0]

'yuvraj'

In [108]:
# this can be used to store structured data

In [109]:
student1 = {'name': 'Yuvraj','class':10, 'marks': 100}

In [110]:
students = []

In [111]:
students.append(student1)

In [112]:
student2 = {'name': 'Karan','class':10, 'marks': 100}

In [113]:
students.append(student2)

In [114]:
students

[{'name': 'Yuvraj', 'class': 10, 'marks': 100},
 {'name': 'Karan', 'class': 10, 'marks': 100}]

In [117]:
students[1]['name']

'Karan'

In [120]:
for key,value in student1.items():
    print(key)
    print(value)

name
Yuvraj
class
10
marks
100

In [121]:
for key in student1:
    print(student1[key])

Yuvraj
10
100

In [122]:
student1.keys()

dict_keys(['name', 'class', 'marks'])

In [123]:
student1.values()

dict_values(['Yuvraj', 10, 100])

In [125]:
inp = input()

This is an input

In [126]:
inp

'This is an input'